[GameConfig]
export_file= # Output file path for log (chess_log.txt)

[PlayerConfig]
side = # Player side (WHITE or BLACK)
show_score = # Flag to show score in each turn (1 or 0)

# Params specific for the engine used
[EngineConfig]
# Skill Level = # For example, for stockfish can set skill level

[EngineLimits]
time = # Maximum time allowed for analysis in seconds
depth = # Maximum search depth in the game tree
nodes = # Maximum number of positions to search
mate = # Maximum moves to find checkmate
